.nav-item .nav-link {
  color: rgb(145, 108, 7);
  padding: 10px 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  text-shadow: 10px 10px 10px 10px rgb(253, 215, 145);
  font-size: 15px;
}
.nav-item {
  margin-left: 30px;
}
.logo {
  color: rgb(240, 223, 202) !important;
  font-weight: 900 !important;
  font-size: 45px !important;
}

.navi-background-colour {
  background: rgb(192, 156, 111);
}
.list-section {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 995px) {
  .nav-bar-1 {
    display: none;
  }
}
@media (min-width: 996px) {
  .nav-sec-bar {
    display: none;
  }
}

.butten {
  padding: 5px;
  border-radius: 10px;
  background-color: var(---colour-1);
  border: 1px solid var(---colour-4);
  transition: all 300ms ease-in;
  margin-top: 25px;
}
button:hover {
  border: 1px solid var(---colour-6);
  color: #f5cca0;
  background-color: var(---colour-5);
}

.heading {
  font-size: 75px;
  margin-left: 125px;
  margin-top: 50px;

  background: #f0b128; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f0b128,
    #965b08
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f0b128,
    #965b08
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
  margin-top: 120px;
  font-family: fantasy;
}
.content {
  display: flex;
  justify-content: space-evenly;
}
.first-para {
  font-weight: 10;
  font-size: 15px;
  margin-top: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(---colour-5);
}

.home .img {
  flex: 1 1 300px;
}

.home .img img {
  width: 92%;
  animation: c 5s linear infinite;
}
@keyframes c {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
}
@media (max-width: 988px) {
  .heading {
    font-size: 55px;
  }
}
@media (max-width: 894px) {
  .heading {
    font-size: 35px;
  }
}
@media (max-width: 698px) {
  .home .img {
    flex: 1 1 500px;
  }
}
@media (max-width: 562px) {
  .heading {
    font-size: 26px;
    margin-left: 15px;
  }
  .butten {
    margin-top: 10px;
  }

  .home .img {
    flex: 1 400px;
  }
}
@media (max-width: 390px) {
  .home .img {
    flex: 1 2 600px;
  }
  .logo {
    font-size: 29px !important;
  }
  .home {
    margin-top: 55px !important;
  }
}
:root {
  ---colour-1: #f5cca0;
  ---colour-2: #e48f45;
  ---colour-3: #f0d394;
  ---colour-4: #f0d394;
  ---colour-5: #6e4b1f;
  ---colour-6: #aa530e;
  ---colour-7: #f5c16c;
  ---colour-8: #bd9354;
  ---colour-9: #e3d18a;
}
