.nav-item .nav-link {
  color: rgb(145, 108, 7);
  padding: 10px 40px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  text-shadow: 10px 10px 10px 10px rgb(253, 215, 145);
  font-size: 15px;
}
.nav-item {
  margin-left: 30px;
}
.logo {
  color: rgb(240, 223, 202) !important;
  font-weight: 900 !important;
  font-size: 45px !important;
}

.navi-background-colour {
  background: rgb(192, 156, 111);
}
.list-section {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 995px) {
  .nav-bar-1 {
    display: none;
  }
}
@media (min-width: 996px) {
  .nav-sec-bar {
    display: none;
  }
}

.butten {
  padding: 5px;
  border-radius: 10px;
  background-color: var(---colour-1);
  border: 1px solid var(---colour-4);
  transition: all 300ms ease-in;
  margin-top: 25px;
}
button:hover {
  border: 1px solid var(---colour-6);
  color: #f5cca0;
  background-color: var(---colour-5);
}

.heading {
  font-size: 75px;
  margin-left: 125px;
  margin-top: 50px;

  background: #f0b128; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f0b128,
    #965b08
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f0b128,
    #965b08
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
  margin-top: 120px;
  font-family: fantasy;
}
.content {
  display: flex;
  justify-content: space-evenly;
}
.first-para {
  font-weight: 10;
  font-size: 15px;
  margin-top: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(---colour-5);
}

.home .img {
  flex: 1 1 300px;
}

.home .img img {
  width: 100%;
  animation: c 5s linear infinite;
}
@keyframes c {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
}
@media (max-width: 988px) {
  .heading {
    font-size: 55px;
  }
}
@media (max-width: 894px) {
  .heading {
    font-size: 35px;
  }
}
@media (max-width: 698px) {
  .home .img {
    flex: 1 1 500px;
  }
}
@media (max-width: 562px) {
  .heading {
    font-size: 26px;
    margin-left: 15px;
  }
  .butten {
    margin-top: 10px;
  }

  .home .img {
    flex: 1 400px;
  }
}
@media (max-width: 390px) {
  .home .img {
    flex: 1 2 600px;
  }
  .logo {
    font-size: 29px !important;
  }
  .home {
    margin-top: 55px !important;
  }
}

#top-icons {
  margin-top: 55px;
}

.second-heading {
  text-align: center;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 2px 3px black;
}
i img {
  width: 90px;
}

h3 {
  font-size: 20px !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800 !important;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
}
.carrds {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 15px !important;
  margin-top: 30px;
  color: #c07213 !important;
}
.one-card {
  color: #271702;
  font-size: 35px !important;
  background-color: #fde9d7;
  opacity: 0.7;
}
.second-card {
  color: #080500;
  background-color: #fde9d7;
  opacity: 0.8;
}
.one-btn {
  border-radius: 5px;
  background-color: #f0d394;
  border: none;
  opacity: 0.8;
  font-weight: 900;
  margin-top: 80px;
}
@media (max-width: 790px) {
  .one-card {
    font-size: 25px !important;
  }
  .second-card {
    font-size: 25px !important;
  }
  .one-btn {
    margin-top: 200px;
  }
}

@media (max-width: 1000px) {
  .one-card {
    font-size: 15px !important;
  }
  .second-card {
    font-size: 10px !important;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
  }
  .one-btn {
    margin-top: 50px;
  }
}
.h1-frappe {
  font-size: 33px;
}
#drinks .card {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#drinks .card:hover {
  background-color: #e3d18a;
}

.banner {
  margin-top: 100px;
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url(https://th.bing.com/th/id/R.c2d48bc0dda9791eb42db786ea5a061a?rik=wWQ4CrMCN33gCA&pid=ImgRaw&r=0);
  background-size: cover;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 132px;
}

.banner h3 {
  color: var(---colour-1);
  font-size: 42px !important;
}
.banner p {
  color: var(---colour-1);
}
#btnOrder {
  width: 200px;
  height: 32px;
  background: transparent;
  color: var(---colour-1);
  border: 2px solid var(---colour-7);
  transition: 0.55s ease;
}

#btnOrder:hover {
  background-color: var(---colour-3);
  color: white;
  text-shadow: 1px 1px 1px black;
}

@media (max-width: 1000px) {
  .banner {
    height: 400px;
  }
  .banner h3 {
    font-size: 22px !important;
  }
  .banner p {
    font-size: 12px !important;
  }
  #btnOrder {
    font-size: 12px;
    width: 100px;
    height: 22px;
  }
}
#top-cards {
  margin-top: 50px;
}
#top-cards .card {
  background: var(---colour-4);
  transition: 0.66s ease;
  cursor: pointer;
}
#top-cards .card:hover {
  transform: translateY(10px);
}
#About {
  margin-top: 100px;
}
#About h1 {
  border-bottom: 2px solid var(---colour-5);
  font-size: 75px;
  margin-left: 125px;
  text-align: center;

  background: #f0b128; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f0b128,
    #965b08
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f0b128,
    #965b08
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#About h2 {
  text-align: center;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 2px black;

  background: var(---colour-3); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e7ce97,
    #1b1001
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eed295,
    #472a02
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#About p {
  font-size: 25px !important;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#readmore {
  width: 200px;
  height: 32px;
  background: transparent;
  border: 2px solid var(---colour-4);
  color: var(---colour-6);
  font-weight: 800;
  letter-spacing: 3px;
  transition: 500ms ease-out;
}

#readmore:hover {
  background-color: var(---colour-3);
  color: white;
  text-shadow: 1px 1px 1px black;
}

:root {
  ---colour-1: #f5cca0;
  ---colour-2: #e48f45;
  ---colour-3: #f0d394;
  ---colour-4: #f0d394;
  ---colour-5: #6e4b1f;
  ---colour-6: #aa530e;
  ---colour-7: #f5c16c;
  ---colour-8: #bd9354;
  ---colour-9: #e3d18a;
}
